{% extends 'app/base.html' %}
{% load static %}
{% block banner_slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'app/images/banner/anh19.jpg' %}" class="d-block w-100" alt="1" height='500'>
        <div class="carousel-caption d-none d-md-block">
          <h5>1</h5>
          <p>aqweeqwe</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'app/images/banner/anh20.jpg' %}" class="d-block w-100" alt="2" height='500'>
        <div class="carousel-caption d-none d-md-block">
          <h5>2</h5>
          <p>aqweeqwe</p>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner_slider %}
{% block main-content %}
<div class="row" style="width:100%">
    {%for product in products %}
    <div class="col-lg-3">
        <img class="thumbnail" src="{{product.ImageURL}}">
        <div class="box-element product">
        <h6><strong> {{ product.name }} </strong></h6>
        <br/>
        <h3><strong>{{ product.price }}VND</strong></h3>
        <br/>
        <buttom data-product={{product.id}} data-action ="add" class="btn btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</buttom>
        <a class="btn btn-outline-success" href="#">Xem</a>
        

        </div>
        
      </div>
    {% endfor %}
 </div>
 
 <br/ > <br/ > <br/ >
{% endblock main-content %}
